@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0 9%;
    --active: #42b983;
    --header-height: 70px;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --radius: 0.5rem;
    --border: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0 0;
    --card-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --border: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-stone-500;
  }
  .active {
    @apply !bg-emerald-600 text-white;
  }
}

body {
  font-family: 'Inter', 'sans-serif';
}
